<div class="header-area header-1">
	<!-- Header Top -->
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
						<!-- Header Call -->
					<div class="call-header left">
						<i class="fa fa-phone-square left"></i><p class="left">(+1)866-540-3229</p>
					</div>						
				</div>
				<div class="col-sm-6 col-xs-12">
					<div class="header-top-link right">
						<!-- Header Wishlist -->
						<div class="wishlist left">
							<a href="wishlist.html">Wishlist <span>(0)</span></a>
							<div class="wishlist-hover-container">
								<p class="empty">You have no items in your wishlist.</p>
							</div>
						</div>
						<!-- Header Compare -->
						<div class="compare left">
							<a href="#">Compare <span>(0)</span></a>
							<div class="compare-hover-container">
								<p class="empty">You have no items to Compare.</p>
							</div>
						</div>
						<div class="compare left">
							<a>Log In</a>
							<div class="compare-hover-container">
								<app-login></app-login>
							</div>
						</div>
						<div class="compare left">
							<a>Sign Up</a>
							<div class="compare-hover-container">
								<app-register></app-register>
							</div>
						</div>
						<!-- Header Top Link -->
						<ul style="color:white;" class="top-link  left">
							<li><a>Account</a>
								<ul class="top-sub-link">
									<li><a title="My Account" routerLink="/shopping/useraccount">My Account</a></li>
									<li><a title="My Wishlist" href="wishlist.html">My Wishlist</a></li>
									<li><a title="My Cart" href="cart.html">My Cart</a></li>
									<li><a title="Checkout" href="checkout.html">Checkout</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Header -->
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12 col-xs-12">
					<!-- Header Logo -->
					<div class="top-logo left">
						<a class="logo" title="Teemo Commerce" href="index.html"><img alt="Teemo Commerce" src="assets/img/logo.png"></a>
					</div>
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="right">
						<!-- Header Search Form -->
					<!-- 	<form method="get" action="#" id="search-mini-form" class="left clearfix">
							<div class="form-search">
								<label for="search">Search:</label>
								<input type="text" maxlength="128" class="input-text" placeholder="Search" id="search" >
								<button class="button" title="Search" type="submit"><i class="fa fa-search "></i></button>
							</div>
						</form>	-->				
						<div class="right-link left clearfix">
							<!-- Header Currency -->
							<!--<div class="header-curren left">
								<ul class="currency-link header-bottom-link">
									<li><a href="#">USD<i class="fa fa-caret-down"></i></a>
										<ul class="sub-currency sub-link">
											<li><a href="#">EUR</a></li>
											<li><a href="#">USD</a></li>
										</ul>
									</li>
								</ul>
							</div>-->
							<!-- Header Language -->
							<div class="header-language left">
								<ul class="lang-link header-bottom-link">
									<li><a href="#">Your Orders<i class="fa fa-caret-down"></i></a>
								        <ul class="sub-lang sub-link">
											<li><a routerLink="/shopping/useraccount">Your Account</a></li>
											<li><a href="#">Your Wishlist</a></li>
                                            <li><a href="#">Sign Out</a></li>
                                        </ul>
									</li>
								</ul>
							</div>
							<!-- Header Cart -->
							<div class="top-cart-wrapper left">
								<div class="top-cart-contain">
									<div class="top-cart-title">
										<a class="my-cart" routerLink="/shopping/cartdetails"><i class="fa fa-shopping-cart"></i>
											Shopping cart<span class="count">{{cartData.length}}</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	<!-- Menu Area -->
	<div class="top-menu">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<!-- Main Menu -->
					<div class="main-menu hidden-sm hidden-xs">
						<nav>
							<ul>
							   <li ><a routerLink="/">Home</a>
								<li class="parent"><a href="shop.html">Products</a>
									<div class="mega-menu mega-menu-full mega-lebel-1">
										<!--<div class="mega-menu-column">
											<ul>
												<li><a href="shop.html">Dresses</a></li>
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
											</ul>
										</div>
										<div class="mega-menu-column">
											<ul>
												<li><a href="shop.html">shoes</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">run</a></li>
												<li><a href="shop.html">sandals</a></li>
												<li><a href="shop.html">Books</a></li>
											</ul>
										</div>
										<div class="mega-menu-column">
											<ul>
												<li><a href="shop.html">Handbags</a></li>
												<li><a href="shop.html">Blazers</a></li>
												<li><a href="shop.html">table</a></li>
												<li><a href="shop.html">coats</a></li>
												<li><a href="shop.html">kids</a></li>
											</ul>
										</div>
										<div class="mega-menu-column">
											<ul>
												<li><a href="shop.html">Clothing</a></li>
												<li><a href="shop.html">T-shirts</a></li>
												<li><a href="shop.html">coats</a></li>
												<li><a href="shop.html">Jackets</a></li>
												<li><a href="shop.html">Jeans</a></li>
											</ul>
										</div>-->
										<div class="menu-banner">
											<div class="row">
												<div class="col-md-4"><a href="#"><img src="assets/img/banner/banner-menu1.jpg" alt="menu banner"></a></div>
												<div class="col-md-4"><a href="#"><img src="assets/img/banner/banner-menu2.jpg" alt="menu banner"></a></div>
                                                <div class="col-md-4"><a href="#"><img src="assets/img/banner/banner-menu2.jpg" alt="menu banner"></a></div>
                                                
											</div>
										</div>
									</div>
								</li>
								
								<li><a href="shop.html">About &nbsp;  Everpep</a></li>
							
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contact.html">Terms &nbsp;and &nbsp;Conditions</a></li>
                                	<li><a href="contact.html">Contact</a></li>
                                	<li><a href="contact.html">Customer Support</a></li>
							</ul>
						</nav>
					</div>
					<!-- Mobile Menu -->
					<div class="mobile-menu hidden-md hidden-lg">
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

