
<br><br>
<div class="container">
    <div class="row">

    <div class="col-md-12">
                      <div id="accordion" class="checkout">
                          <div class="panel checkout-step">
                              <div> <span class="checkout-step-number">1</span>
                                  <h1 class="checkout-step-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" #items (click)="openDiv(items)" ><h1>Permanent Address</h1></a></h1>
                              </div>
                              <div id="collapseOne" class="collapse in" style="display:block">
                                  <div class="checkout-step-body">
                                      <div class="checout-address-step">
                                          <div class="row">
                                              <div class="formBox">
                                                  <form>
                                                      <div class="row">
                                                        <div class="col-sm-12">
                                                        </div>
                                                      </div>
                                          
                                                      <div class="row">
                                                        <div class="col-sm-6 col-md-4">
                                                          <div class="inputBox ">
                                                            <input type="text" name="" placeholder="Name" class="input">
                                                          </div>
                                                        </div>
                                          
                                                        <div class="col-sm-6 col-md-4">
                                                          <div class="inputBox">
                                                            <input type="text" name="" placeholder="Mobile Number" class="input">
                                                          </div>
                                                        </div>
                                                      </div>
                                          
                                                      <div class="row">
                                                        <div class="col-sm-6 col-md-4">
                                                          <div class="inputBox">
                                                              <input type="number" name="" placeholder="pin code" class="input">
                                                            </div>
                                                        </div>
                                          
                                                        <div class="col-sm-6 col-md-4">
                                                          <div class="inputBox">
                                                            <input type="text" name="" placeholder="locality" class="input">
                                                          </div>
                                                        </div>
                                                      </div>
                                          
                                                      <div class="row">
                                                        <div class="col-sm-12">
                                                          <div class="inputBox">
                                                            <textarea class="input" placeholder="address"></textarea>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-sm-6 col-md-4">
                                                            <div class="inputBox">
                                                                <input type="number" name="" placeholder="city" class="input">
                                                              </div>
                                                          </div>
                                            
                                                          <div class="col-sm-6 col-md-4">
                                                            <div class="inputBox">
                                                              <input type="text" name="" placeholder="state" class="input">
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6 col-md-4">
                                                              <div class="inputBox">
                                                                  <input type="number" name="" placeholder="land mark" class="input">
                                                                </div>
                                                            </div>
                                              
                                                            <div class="col-sm-6 col-md-4">
                                                              <div class="inputBox">
                                                                <input type="text" name="" placeholder="Alternative phone number" class="input">
                                                              </div>
                                                            </div>
                                                          </div>
                                                      <div class="row">
                                                        <div class="col-sm-12">
                                                          <input type="submit" name="" class="button" value="Send Message">
                                                        </div>
                                                      </div>
                                                  </form>
                                                </div>
                                          
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="panel checkout-step">
                              <div role="tab" id="headingTwo"> <span class="checkout-step-number">2</span>
                                  <h1 class="checkout-step-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" #items (click)="openDiv(items)"><h1>Delivery Address</h1></a> </h1>
                              </div>
                              <div id="collapseTwo" class="panel-collapse collapse" style="display:block">
                                  <div class="checkout-step-body">
                                      <div class="checout-address-step">
                                          <div class="row">
                                              <div class="formBox">
                                                  <form>
                                                      <div class="row">
                                                        <div class="col-sm-12">
                                                        </div>
                                                      </div>
                                          
                                                      <div class="row">
                                                        <div class="col-sm-6 col-md-4">
                                                          <div class="inputBox ">
                                                            <input type="text" name="" placeholder="Name" class="input">
                                                          </div>
                                                        </div>
                                          
                                                        <div class="col-sm-6 col-md-4">
                                                          <div class="inputBox">
                                                            <input type="text" name="" placeholder="Mobile Number" class="input">
                                                          </div>
                                                        </div>
                                                      </div>
                                          
                                                      <div class="row">
                                                        <div class="col-sm-6 col-md-4">
                                                          <div class="inputBox">
                                                              <input type="number" name="" placeholder="pin code" class="input">
                                                            </div>
                                                        </div>
                                          
                                                        <div class="col-sm-6 col-md-4">
                                                          <div class="inputBox">
                                                            <input type="text" name="" placeholder="locality" class="input">
                                                          </div>
                                                        </div>
                                                      </div>
                                          
                                                      <div class="row">
                                                        <div class="col-sm-12">
                                                          <div class="inputBox">
                                                            <textarea class="input" placeholder="address"></textarea>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-sm-6 col-md-4">
                                                            <div class="inputBox">
                                                                <input type="number" name="" placeholder="city" class="input">
                                                              </div>
                                                          </div>
                                            
                                                          <div class="col-sm-6 col-md-4">
                                                            <div class="inputBox">
                                                              <input type="text" name="" placeholder="state" class="input">
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6 col-md-4">
                                                              <div class="inputBox">
                                                                  <input type="number" name="" placeholder="land mark" class="input">
                                                                </div>
                                                            </div>
                                              
                                                            <div class="col-sm-6 col-md-4">
                                                              <div class="inputBox">
                                                                <input type="text" name="" placeholder="Alternative phone number" class="input">
                                                              </div>
                                                            </div>
                                                          </div>
                                                      <div class="row">
                                                        <div class="col-sm-12">
                                                          <input type="submit" name="" class="button" value="Send Message">
                                                        </div>
                                                      </div>
                                                  </form>
                                                </div>
                                          
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
    </div>
  </div>