<div class="shop-page-area page-area">
<div class="container">
    <div class="row">
		  <div class="col-sm-12">
			 <!-- Tab Product Title -->
			 <ul id="producttabs">
				<li class="item first active">
				   <h3 class="bestseller">Cart Detail's</h3>
				</li>
				<li class="item last">
				   <h3 class="sale"></h3>
				</li>
			 </ul>
      </div>
      </div>
    <table id="cart" class="table table-hover table-condensed">
              <thead>
              <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
              </tr>
            </thead>
            <!-- <p *ngIf="!cartListData.length">No Data Found....</p> -->
            <tbody >
              <tr style="border-bottom: 1px solid;" [id]="'productOverAll'+i"  *ngFor="let product of cartListData;let i = index">
                <td data-th="Product">
                  <div class="row">
                    <div class="col-sm-2 hidden-xs"><img [src]="product.img" alt="..." class="img-responsive"/></div>
                    <div class="col-sm-10">
                      <h4 class="nomargin">{{product.product_name}}</h4>
                      <p class="details">Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
                    </div>
                  </div>
                </td>
                <td data-th="Price">{{product.regular_price}}</td>
                <td data-th="Quantity">
                  <input type="number"  class="form-control text-center" [value]="product.qty" min="1" (input)="calculation(i,$event)">
                </td>
                <td  class="text-center subtotal" [id]="'product'+i">{{product.subTotal}}</td>
                <td class="actions" data-th="">
                  <button class="btn btn-danger btn-sm" (click)="deleteSelectedItem('productOverAll'+i,i)"><i class="fa fa-trash-o"></i></button>								
                </td>
              </tr>
            </tbody>
            <br><br>
            <tfoot >
              <tr class="visible-xs">
                <td class="text-center">Total :<strong id="Total1">1.90000</strong></td>
              </tr>
              <tr>
                <td><a routerLink="/shopping/productView" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center">Total :<strong id="Total">$1.99</strong></td>
                <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
              </tr>
            </tfoot>
          </table>
  </div>
  </div>