.carousel-caption{
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    top: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.btn-primary-outline{
    width:20%;
    height:40px;
    color:black;
    font-weight:500;
    font-size:20px;
    background-color:transparent;
}

.popupmodel{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: sticky;
    /* max-width: 700px; */
    overflow:auto;
     top: 20%; 
     right:20px;
    z-index: 9999;
    width: 90%;
    height: 20%;
    padding: 20px;
    box-shadow: 0px 2px 6px black;
    border-radius: 3px;
    background: #fff;
    text-align: center;
}